

Geo Contents.xcodeproj/project.xcworkspace/xcuserdata/spider.xcuserdatad/UserInterfaceState.xcuserstate

.svn/prop-base/.gitignore.svn-base

*.gitignore

.svn

Geo Contents.xcodeproj/project.pbxproj

Geo Contents.xcodeproj/project.xcworkspace/xcuserdata/martin.xcuserdatad/UserInterfaceState.xcuserstate

Geo Contents.xcodeproj/xcuserdata/martin.xcuserdatad/xcschemes/Geo Contents.xcscheme

Geo Contents.xcodeproj/xcuserdata/martin.xcuserdatad/xcschemes/xcschememanagement.plist

Geo Contents.xcodeproj/xcuserdata/spider.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

Geo Contents/._ELNearbyListViewController.m
._*
